header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}
/*  CTA */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* socials */

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8;
    position: absolute;
    bottom: 9rem;
    right: 0;
}

.header_socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me {
    background: var(--color-primary);
    width: 22rem;
    height: 22rem;
    position: absolute;
    left:  calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 12rem 12rem;
    overflow: hidden;
}

/*  scroll down  */

.scroll_down {
    position: absolute;
    left: -2.3rem;
    bottom: 10rem;
    transform: rotate(270deg);
    font-weight: 300;
    font-size: 0.9rem;

}

@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }
  }

  @media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
  }